<form action="/todo" method="POST" class="addForm">
  <input type="text" name="todo-title" placeholder="タイトルを入力してね">
  <input type="text" name="todo-content" placeholder="内容を入力してね">
  <input type="submit" value="Todoを追加する">
</form>